body {
    background-color: black;
}



/* --------MAIN-SECTION---------- */

section.main-section {
    min-height: 100vh;
    position: relative;
    background: url('./../img/Layer.png') no-repeat 50%/cover;
    padding: 3.51vw 1.42vw 0;
}

.section_header {
    display: grid;
	width: 100%;
    grid-template-columns: 1fr 1.4fr;
}

/* HEADER */

header {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 8.1vw;
}

.header-logo img {
    width: 100%;
}

.header-nav , header ul, header ul li {
    display: flex;
    align-items: center;
}

header ul li a{
    font-size: 1vw;
    color: white;
    margin: 0 1vw;
    text-transform: uppercase;
    font-weight: 900;
}

header .header-nav button {
    width: 12.3vw;
    height: 3.91vw;
    border: 0.06vw solid white;
    font-size: 1vw;
    background: none;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

header .header-nav button::after {
    content: "";
    background-image: url(./../img/romb-blue.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 0.5vw;
    width: 0.8vw;
    height: 0.8vw;
}

input[type="image"] {
    width: 1.4vw;
}

/* SECTION-INFO */


.section_info {
    grid-column-start: 2;
    padding-top: 1.3vw;
}

.section_info p {
    color: #d596ba;
    font-size: 0.9vw;
    font-weight: 700;
    margin-bottom: 0.7vw;
}

.section_info h1 {
    font-size: 2.4vw;
    font-weight: 900;
    color: white;
    margin-bottom: 2.2vw;
}

.section_info span {
    display: block;
    color: #97155b;
    font-size: 0.9vw;
    font-weight: 700;
}

.section_info button {
    color: white;
    background-color: #d60c1a;
    font-size: 1.3vw;
    font-weight: 900;
    border: none;
    width: 15vw;
    height: 4.15vw;
    margin-top: 3vw;
    margin-left: 0.3vw;
    text-transform: capitalize;
}

.section_info button::after {
    content: "";
    background-image: url(./../img/Strelka.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 0.5vw;
    width: 0.8vw;
    height: 0.8vw;
}


/* --------CONTENT-SECTION---------- */

section.content-section {
    background-color: #a99494;
    margin-top: 0.7vw;
    width: 100%;
	min-height: 41.7vw;
}

.content-blocks {
    width: 96%;
	display: grid;
    justify-items: center;
	margin: 0 auto;
	gap: 4vw;
	position: relative;
	bottom: 2vw;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(33.9vw, auto);
}

.block-item {
    background-color: white;
    box-shadow: 0 0.25vw 0.5vw 0.3vw rgba(6, 6, 6, 0.24);
    width: 97%;
}

.block-item img {
    display: block;
    width: 85%;
    margin: 0 auto;
    position: relative;
    bottom: 2vw;
}

.block-item .item {
    width: 85%;
    margin: 0 auto;
    margin-top: 3vw;
}

.block-item .item h3 {
    font-size: 1.5vw;
    color: #292525;
    font-weight: 700;
}

.block-item .item p {
    font-size: 1.05vw;
    margin-top: 1.35vw;
    color: #292525;
    font-weight: 700;
}

.line {
    background-color: red;
    margin-top: 1.3vw;
    width: 31.4%;
    height: 0.7vw;
}

/* -----------FOOTER------------ */

footer {
    width: 99.5%;
    height: 20vw;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
    top: -1vw;
    border: 0.1vw solid #292525;
}

footer a {
	font-size: 1.6vw;
	grid-column: 10/13;
	grid-row: 3;
	font-weight: 900;
    color: #292525;
}
